<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SweaWebServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://swea.riksbank.se:80/sweaWS/services/SweaWebServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="SweaWebServiceSoap12Binding"
                contract="RiksbankenServiceReference.SweaWebServicePortType"
                name="SweaWebServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>